.thm-primary-bg {
    background-color: #95AA4B;
}
.thm-primary-bg-transparent {
    background-color: #95aa4be6;
}
.main {
    margin-top: 50px;
}
.height-2000 {
    height: 2000px;
}
.home-gallery {
    padding-top: 100px;
}